@mixin box($flex, $dir, $jus, $align){
    display: $flex;
    flex-direction: $dir;
    justify-content: $jus;
    align-items: $align;
}

@mixin hw($h, $w){
    height: $h;
    width: $w;
}

@mixin font($font, $size, $weight, $height, $spacing){
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
}