@import 'store';

@media screen and (min-width: 0px){
  
  #above-fold{
    @include box(flex, column, auto, center);
    @include hw(62.11vh, 100%);
    position: relative;
    z-index:3;
  }

  #above-title{
    position: relative;
    top: 25vh;
    text-align:left;
    @include font('Poppins-Medium', 46.35px, 400, 47.02px, -14)
    /* animation: fade 2s; */
  }

  #arrow-div{
    @include hw(100px, 100%);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 74.75vh;
  }
}

@media screen and (min-width: 1024px){
  #above-fold{
    background-position: -187px 0;
    /* height:74.8vh; */
    height:623px;
  }

  #above-title{
      padding: 0;
      font-size: 4.0em;
      line-height:77px;
      width:100%;
      font-weight: 400;
      top:204px;


  }
}
