@import 'store';
$greyy: rgba(0,0,0,.55);

@media screen and (min-width: 0px){
    #lyn-image-div{
        width:100vw;
        @include hw(276px, 100vw);
        margin-top:86px;
        left:0;
        overflow:hidden;
        img{
            width:100%;
            position:relative;
            bottom:4em;
        }
    }
    
    #lyn-text-div{
        @include box(flex, column, flex-start, center);
        margin-top:26px;
        h1{
            @include font(raleway, 53px, 700, auto, -1.7px);
            margin:0;
        }
        h2{
            @include font(raleway, 32px, 700, auto, -1.7px);
            color: $greyy;
            margin:0;
        }
        h3{
            @include font(nunito sans, 21px, 200, auto, -1.7px);
            margin: 4px 0 0 0;
        }
    }
    
    #stack_lyn{
        width: 259px;
        margin: 27.2px auto 0 auto;
        @include box(flex, row, space-between, auto);
        
        .stack-column_lyn{
            @include box(flex, column, space-between, auto);
        }
    }
    
    .section-lyn{
        @include box(flex, column, space-between, auto);
        @include hw(auto, 90%);
        margin: 0 auto;
        
        .section-title_lyn{
            @include font(raleway, 48px, 700, auto, auto);
            color:$greyy;
            margin: 52px auto 0 auto;
        }
    }
    
    #portfolio_lyn{
        @include hw(800px, 90%);
        
        .portfolio-item{
            @include box(flex, column, auto, center);
            div{
                @include box(flex, column, space-between, center);
            }
            img{
                width: 167px;
            }
            h1{
                margin: 0;
                @include font(open sans, 22px, 700, auto, -1px);
            }
            h2{
                margin: 0;
                @include font(open sans, 18px, 400, auto, -1px);
            }
            a{
                margin: 0;
                @include font(raleway, 13px, 500, auto, auto);
            }
        }
    }

    #experience-lyn{
        .experience-item{
            .item-stats{
                @include box(flex, column, auto, auto);
            }
            h1{
                @include font(open sans, 22px, 400, auto, -1px);
                margin:0;
            }
            h2{
                @include font(open sans, 22px, 700, auto, -1px);
                margin:0;
            }
            h3{
                @include font(open sans, 17px, 300, auto, -1px);
                margin:0;
            }
            .item-description{
                @include font(open sans, 16px, 400, auto, .3px);
            }
            
        }
    }

    #education-lyn{
        .education-item{
            margin: 25px 0 0 0;
            h1{
                @include font(open sans, 19px, 400, auto, .3px);
                margin:0;
            }
            h2{
                @include font(raleway, 16px, 500, auto, auto);
                margin:0;
            }
        }
    }

    #more-lyn{
        @include box(flex, column, auto, auto);
        p{
            @include font(open sans, 16px, 400, auto, 1px);
        }
    }
    
    
    
}