@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

@media screen and (min-width:0px){
  body{
    margin: 0;
  }

  #routes{
  width:100%;
  margin: 0 auto;
  }



  img{

  }



  #routes{
    overflow-x:hidden;
  }

}

@media screen and (min-width:375px){

}

@media screen and (min-width:411px){
  #main {
      width: 88%;
  }
}

@media screen and (min-width:750px){
  #contact-breaker{
    margin-top:63vh;
  }
}

@media screen and (min-width:768px){
  #main{
    width:97%;
  }
  .view{
    width:97%;
  }
  #routes{
  }
  #contact-breaker{
    margin-top:17.5vh;
  }
}

@media screen and (min-width:1024px){
  #main{
    width: 89.2%;

  }
  .view{
    margin: 0 auto;
    width:100%;
  }
}


@media screen and (min-width:1366px){
  #main{
    width: 80%;
    margin: 50px auto;

  }
}

@media screen and (min-width:1920px){
  #main{
    width: 91%;
    margin: 65px auto;
  }
}


@media screen and (min-width:2560px){
  #main{
    width: 76%;
    margin: 88px auto;
  }
}
