
@media screen and (min-width: 0px){
  #contact-view{
      background-color: rgb(51, 51, 51);
      height:auto;
      position: absolute;
      width: 100vw;
      height:66vh;
      margin-top:312px;
      left: 0;
      padding:100px 0;
  }

  .contact-text{
    font-family:Lato;
    font-size: 40px;
    color: white;
    font-weight: 100;
    margin: 17px 0;
    margin: 17px 0 0 2%;
  }
  #contact-link{
    font-family:Raleway;
    font-weight: 400;
    font-size: 18px;
    color:white;
    margin: 17px 5%;
  }

  #contact-options{
    display:flex;
    flex-direction: column;
    margin: 123px 5%;
  }

  .contact-option{
    font-family:Raleway;
    font-weight: 400;
    font-size: 18px;
    color:white;
    margin:5px 0;
  }
}

@media screen and (min-width: 375px){
  #contact-view{

      padding-top:100px;
  }
  .contact-text{
    font-size: 40px;
    font-weight: 100;
    margin: 17px 5%;
  }

}

@media screen and (min-width: 411px){
  #contact-options{
    display:flex;
    flex-direction: column;
    margin: 99px 5%;
  }
}

@media screen and (min-width: 768px){
  .contact-text, #contact-link{
    margin: 17px 5%;
  }
}
@media screen and (min-width: 1024px){
  .contact-text, #contact-link{
    margin: 17px auto;
    width:90%;
  }
  #contact-view{
    margin-top:0vh;
  }
  #contact-options{
    margin:99px 4%;

  }
}
@media screen and (min-width: 1366px){
  .contact-text, #contact-link, #contact-options{
    margin: 35px auto;
    width:80%;
  }
}
@media screen and (min-width: 1920px){
  .contact-text, #contact-link{
    margin: 17px 5%;
  }
}
@media screen and (min-width: 2560px){
  .contact-text, #contact-link{
    margin: 17px auto;
    width:80%;
  }
}

@media screen and (min-width: 1366px){
  #contact-form{
        display: flex;
        flex-direction: column;
        top: 17px;
        position: relative;
  }
  .contact-input{
    height:37px;
    width: 617px;

  }
}
