#contact-view{

      background-color: rgb(51, 51, 51);
    padding-bottom: 22px;

}

#contact-form{
      display: flex;
      flex-direction: column;
      top: 17px;
      position: relative;
}

#contact-title-div{
  position: relative;
  text-align:right;
  top:10px;
}
#contact-title{
  display: inline-block;
    border: 1px solid black;
    position: relative;
    right: 3%;
    margin: 0;
    background: black;
    color: white;
    padding: 5px;
}

.contact-input{
  margin: 7px 0px;
  width: 80%;
  align-self: center;
  height: 29px;
  font-size: 15px;
      border: 2px solid rgb(157,105,0);
      font-family:raleway;
}

#contact-message{
  height:100px;
}

#submit-button-div{
    display: flex;
    justify-content: center;
    align-items:center;
}

#submit-button{
  border: 0px solid white;
  height: 32px;
  /* width: 68px; */
  border-radius: 8%;
  background: rgba(1,1,1,0);
  color: white;
  margin: 19px 0;
  font-family: raleway;
  font-size: 21px;
}

#submit-arrow{
  height: 20px;
filter: invert(1);
width: 20px;
transform: rotate(90deg);
}


/* #contact-box{
  border: 1px solid white;

}
.contact-input{
  width: 317px;
  height: 33px;
  border: 2px solid rgba(146, 93, 25, 1);
  margin-bottom:10px;
  font-size:18px;
  font-family: raleway;
}
#contact-message{
height: 100%;
}

.contact-word{
  margin: 0;
    color: white;
    font-family: raleway;
    font-size: 20px;
}

#contact-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  top: 4em;
}

.contact-first4{
  display: flex;
flex-direction: column;
justify-content: space-around;
}

#submit-button-div{
  width: 50%;

position: absolute;
display: flex;
justify-content: center;
align-self: flex-end;
margin-top: 64px;
}
#submit-button{
  height: 44px;
width: 117px;
border: 2px solid #faf5f5;
border-radius: 7%;
font-family: raleway;
font-size: 19px;
font-weight: bold;
background: rgba(0,0,0,0);
color: white;
} */

@media screen and (min-width: 1366px){
  #contact-form{
        display: flex;
        flex-direction: column;
        top: 17px;
        position: relative;
  }
  .contact-input{
    height:37px;
    width: 617px;

  }
}
