
@media screen and (min-width: 0px){
  #contact-view{
      background-color: rgb(51, 51, 51);
      height:auto;
      position: absolute;
      width: 100vw;
      margin-top: 15px;
      left: 0;
      padding: 100px 0 30px 0;
  }

  .contact-text{
    font-family:Raleway;
    font-size: 2.2em;
    color: white;
    font-weight: 400;
    margin: 17px 0;
    margin: 17px 0 0 2%;
  }
  #contact-link{
    font-family:Raleway;
    font-weight:500;
    font-size: 18px;
    color:white;
    margin: 17px 5%;
  }

  #contact-options{
    display:flex;
    flex-direction: column;
    margin: 98px 0 0 5%;
  }

  .contact-option{
    font-family:Raleway;
    font-weight: 400;
    font-size: 18px;
    color: rgb(127, 127, 127);
    margin:8px 0;
  }
}

@media screen and (min-width: 375px){
  #contact-view{
    padding-top: 14px;
  }

  .contact-text{
    font-size: 40px;
    font-weight: 100;
    margin: 30px 5%;
  }

}

@media screen and (min-width: 411px){
  #contact-options{
    display:flex;
    flex-direction: column;

  }
}

@media screen and (min-width: 768px){
  .contact-text, #contact-link{
    margin: 17px 5%;
  }
}
@media screen and (min-width: 1024px){
  .contact-text, #contact-link{
    margin: 4.8% 0;
    width: auto;

  }
  #contact-view{
    margin-top:0vh;
    height:auto;
    padding: 0px 0 0% 5%;
    width:95%;
  }
  #contact-options{
    margin:52px 0;

  }

  .contact-option{
    color: rgb(127, 127, 127);
    font-family: Raleway;
    font-size: 1.125em;
    font-weight: 500;
  }
  #ready{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 4.81em;
    width:90%;
  }
}
@media screen and (min-width: 1366px){
  #contact-link{
    margin: 0;
  }
  /* .contact-text, #contact-link, #contact-options{
    margin: 35px auto;
    width:80%;
  } */
}
@media screen and (min-width: 1920px){
  .contact-text, #contact-link{
    width:auto;
    /* margin: 17px 5%; */
  }
  #contact-options{
    width:auto;
  }
  #contact-content{
    width:1280px;
    max-width: 1280px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 2560px){
  .contact-text, #contact-link{
    margin: 17px auto;
    width:80%;
  }
}

@media screen and (min-width: 1366px){
  #contact-form{
        display: flex;
        flex-direction: column;
        top: 17px;
        position: relative;
  }
  .contact-input{
    height:37px;
    width: 617px;

  }
}
