
  #header{
    position: fixed;
    width:inherit;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
    align-items:center;
    top:0;
    padding-top: 19px;
    border:0px solid;
  }

  #e{
    width: 80px;
    align-self: center;
    position: relative;
      /* filter: invert(0); */
  }

  #menu-icon-circle{
    padding: 1px 1px;
    position: fixed;
    z-index:4;
  }

  #menu-icon{
    width: 70px;
    height: 60px;
    color: white;
    top: 2px;
    position: relative;
  }

@media screen and (min-width:375px){
  #menu-icon-circle{
    font-size: 2em;
    position: fixed;
    bottom: 8%;
    right: 9%;
    border-radius: 50%;
    background:black;
    z-index:4;
  }

  #header{
    position: fixed;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 0px 10px;
    height:3em;
  }
  #e{
    width:60px;
    padding-top:10px
  }
  #menu-icon{
    color:white;
  }
}

@media screen and (min-width:1366px){

  #header{
    position: fixed;
    width:inherit;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:auto;

  }
  #menu-icon{
    color: black;

  }
  #menu-icon-circle{
    /* opacity: 0; */
      font-size: 2em;
      align-self: flex-end;
      z-index:4;
      right: 1%;
      border-radius: 50%;
      padding: 5px 7px;
      background:rgba(0,0,0,0);
      position:relative;

  }


}
@media screen and (min-width:2560px){
#e{
  width: 80px;
  align-self: center;
  position: relative;
    /* filter: invert(0); */
}
#header{
  position: fixed;
  width:76%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}
}
/* #header{
  position: absolute;
  z-index:2;
  width: 100%;
  height: 11%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:0;
}

#e{
  width: 4em;
  left: 20px;
  position: relative;
  bottom: -5px;
}

#e:hover{
  cursor:pointer;
}

#menu-icon-circle{
  border: 3px solid black;
  border-radius: 50%;
  right: 60px;
  position: fixed;
  bottom: 4em;
  right:2em;
  background: black;
  z-index: 2;
}

#menu-icon{
  font-size: 43px;
position: relative;
padding: 7px;
color:white;
}

#menu-icon-circle:hover{
  cursor:pointer;
}

@media screen and (min-width:1366px){

#header{
  position: absolute;
  z-index:2;
  width: 100%;
  height: 11%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:0;
}

#e{
  width: 4em;
  left: 20px;
  position: relative;
  bottom: -5px;
}

#e:hover{
  cursor:pointer;
}

#menu-icon{
  font-size: 43px;
position: relative;
padding: 7px;
color:white;
}
#menu-icon-circle{
  border: 3px solid black;
border-radius: 50%;
right: 60px;
position: fixed;
bottom: 4em;
right:4em;
background: black;
z-index: 2;
}
#menu-icon-circle:hover{
  cursor:pointer;
}
} */
