@media screen and (min-width:0px){
  #home{
  width:88%;
  margin: 0% auto;
  max-width:1280px;
  }

  #above-fold{
  height: 62.11vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: relative;
  width: 100%;
  z-index:3;
  }

  #above-title{
    position: relative;
    top: 25vh;
    font-size: 2.2em;
    text-align:left;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 47.02px;
    font-size:36.35px;
    letter-spacing: -14;
    text-align:center;
    animation: fade 2s;
  }

  #arrow-div{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 74.75vh;
    height: 100px;
  }

  .view{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* -------------services----------------- */

  #services-view{
    opacity:1;
    transition:opacity 1s;
    z-index: 1;
  }

  .services-div{
    display: flex;
    flex-direction: column;
    margin: 52px 0;
    opacity:0;
    transition:opacity .5s;
  }

  #services-strategy-div{
    margin-top: 0px;
  }

  .services-title-div{
      width: auto;
      /* border: 1px solid; */
      position: relative;
      font-family:rockwell;
      font-weight:bold;
      font-size:12px;
  }

  .services-title{
    margin: 0;
    font-family: Poppins;
    font-size: 1.5em;
    font-weight:600;
  }

  #jawny1{
    margin-top:0;
  }
  #jawny2{

  }
  #jawny3{
    margin-bottom:0;
  }

  @font-face {
    font-family: 'Lato-Thin';
    /* src: url("/src/styles/fonts/Lato2OFL/Lato-Regular.ttf") format("truetype");
    src: url("/src/styles/fonts/Lato2OFL/Lato-Light.ttf") format("truetype");
    src: url("/src/styles/fonts/Lato2OFL/Lato-Medium.ttf") format("truetype"); */
    src: url("./fonts/Lato2OFL/Lato-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Lato-Medium';
    src: url("./fonts/Lato2OFL/Lato-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Lato-Regular';
    src: url("./fonts/Lato2OFL/Lato-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: 'lato-bold';
    src: url("./fonts/Lato2OFL/Lato-Bold.ttf") format("truetype");
  }

  .services-description-text{
    font-family: 'Open Sans';
    font-size:17px;
    line-height: 1.5;
    margin:17px 0;
  }

  #services-service-div{
    height:95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .services-service-text{
    font-family: 'Poppins';
    font-size:1.06em;
    font-weight:600;
    margin: 0;
  }

  /* -------------Projects----------------- */

  .page-title-box{
    text-align:right;
  }

  .page-title-text{
  border: 1px solid black;
  width: auto;
  float: right;
  padding: 7px;
  font-family: Poppins;
  color:white;
  background:black;
  position:relative;
  right:1px;
  margin: 5px 5px 0px 0px;
  }
}


@media screen and (min-width: 375px){

  #projects-div{
    flex-direction:column;
    justify-content: space-between;

  }
  .project-image{
    width:100%;
    margin: 3px 0 0 0;
  }

}
@media screen and (min-width: 411px){


}
@media screen and (min-width:768px){

  #above-title{
    background-position: -48em 0px;
      font-size: 2.5em;
  }

  #services-content{

    margin: 0 auto;
  }

  .services-statement{
    font-size: 48px;
  }
  #services-view{

  }
  .services-icon {

    position: relative;
  }
  #projects-div {
      flex-direction: row;
      justify-content: space-between;

      flex-wrap: nowrap;
  }
  .project-image {
      width: 50%;
  }

}
@media screen and (min-width: 1024px){
  #above-fold{
    background-position: -187px 0;
    height:74.8vh;
  }
  #above-title{
      padding: 0;
      font-size: 4.06em;
      line-height:1;
      width:902px;
      font-weight: 300;
      top:204px;

  }
  .services-div {
    padding:0px;
    width:30%;
    flex-direction:column;
    justify-content: flex-start;
    border-bottom:0px;
    height: auto;
    margin:0;
  }
  #services-content{
    display:flex;
    justify-content: space-between;
    width: 100%;
  }
  #services-view{
    margin: 0 auto;
    padding-top:0vh;
  }
  .services-title-div {
      text-align:left;
      width:100%;
      margin-bottom:30px;
  }
  .services-title{
    font-size:1.83em;
    font-weight:600;
  }
  .services-icon{
    width:100px;
    margin-bottom:30px;
    align-self: center;
  }
  .services-description-div{
    width: auto;
    flex-direction:column;
  }
  .services-description-text{
    width:auto;
    font-size: 15px;
    letter-spacing: .5px;
    margin: 23px 0;
  }
  .services-service-text{
    font-family: 'Poppins';
    font-size:1em;
    font-weight:500;
    margin: 0;
  }
  #learn-div{
    padding: 0px;

  }

  #projects-div{
    flex-direction:row;
    justify-content: space-between;
  }
  .project-container{

  }
  .project-image{
    width:31.3%;
  }
  .project-text{
    font-size:32px;
    font-weight:700;
    width:auto;
  }

  .page-title-box{
    text-align:left;
  }
  .page-title-text{
  float: left;
  position: relative;
    left: 14px;
    font-size:1.5em;
    color:white;
    background:black;
    padding: 7px;

  }




}
@media screen and (min-width: 1280px){
  #above-fold{
    background-position: -109px 0;
  }
  #above-title{
      top:32vh;
      margin: 0 auto;

  }
}
@media screen and (min-width: 1366px){
  #above-fold{
    background-position: 0 0;
  }
  .services-description-text {
    font-size: 20px;
  }

  .services-icon{
    width:100px;
  }

  .services-div{
    width:29.6%;
  }

  #projects-view{
    opacity:0;
    transition: opacity 1s;
    margin: 157px 0 30px 0;
  }

  #bill-phone{
    right: 7em;
    width: 144px;
    height: 311px;
    margin-top:0px;
  }

  #contact-view{
    height:59vh;
  }
  #contact-content{
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-text, #contact-link{
    margin:4.8% 0;
  }

  #contact-link{
    margin: 0
  }

  #contact-options{
    margin: 52px 0;
  }

  #ptouch{
    background-image: url('/src/styles/images/art2.jpg');
    background-position: 0px 0px;
    background-size: cover;

  }

  .project-logo{
    width: 171px;
    position: relative;

  }


}
@media screen and (min-width:1920px){
  #above-title{
    top: 0em;
  }
  #down-arrow{
    top: 8em;
    position: relative;
  }
  #bill-phone{
    right:23em;
  }
}
@media screen and (min-width:2460px){
  #above-title{
    top: 333px;
  }
  .view{
    /* width: 73%; */
    /* margin: 0 auto; */

  }
}



/* animations */

  @keyframes fade{
    0% {opacity:0}
    100% {opacity:1}
  }
