#above-fold{
height: 100vh;
background-image: url("src/styles/images/reach.jpeg");
background-position: -59em 0px;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
position: absolute;
width: 100vw;
left: 0px;
top:0px;
z-index:2
}

#above-title{
  position: relative;
  top: 231px;
  text-align:center;
  font-family: acier-bat-gris, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8em;
}

#above-fold-content{

}

.view{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* -------------OurWork----------------- */

#ourWork-view{
  opacity:0;
  transition:opacity 1s;
  padding-top:106vh;
  z-index: 1
}

.ourWork-icon{
  width: 70px;
}

#ourWork-content{

}

.ourWork-statement{
  font-family: raleway;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.ourWork-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: .5px solid rgba(128, 128, 128, .5);
  padding: 3% 0px 5% 0px;

}

.ourWork-service-div{
  width: 308px;
    /* border: 1px solid; */
    position: relative;
    font-family:rockwell;
    font-weight:bold;
    font-size:12px;
}

.ourWork-service{
  margin: 0;
font-family: Raleway;
font-size: 20px;
font-weight: 900;

}

.ourWork-description-div{
  width:245px;
}

.ourWork-description-text{
  font-family: Muli;
  font-size:15px;
}

#learn-div{
  display:flex;
  padding: 10px 0px;
  justify-content: flex-end;

}
#learn-text{
  font-size:20px;
  font-weight: bold;
  margin:0;
  text-decoration: underline;
  font-family: Muli;
  color:black;
}
#learn-arrow{
  font-size:20px;
}

/* -------------DigitalMatters----------------- */


/* -------------PastProjects----------------- */

#projects-div{
  display: flex;
flex-direction: column;
}

#projects-view{
  opacity:0;
  transition:opacity 1s;
  margin-bottom: 30px;
}

.project-image{
  margin: 10px 0px 0px 0px;
    width: 98%;
    align-self: center;
}

.page-title-box{
  text-align:right;
}

.page-title-text{
border: 1px solid black;
width: auto;
float: right;
padding: 7px;
font-family: Poppins;
color:white;
background:black;
position:relative;
right:1px;
margin: 5px 5px 0px 0px;
}

@media screen and (min-width: 375px){
  #above-title{

      font-size: 2.5em;
  }

  #ourWork-view{
    padding: 93vh 0 0 0;
    width: auto;
    position: relative;
  }
  .ourWork-description-div{
    width: auto;
    display: flex;
    justify-content: space-between;
  }
  .ourWork-div{
    flex-direction: column;
  }
  .ourWork-description-text{
    width:71%
  }

  #projects-div{
    flex-direction:column;
    justify-content: space-between;

  }
  .project-image{
    width:100%;
    margin: 3px 0 0 0;
  }

}
@media screen and (min-width: 411px){
  #above-title{
      font-size: 2.5em;
  }
#above-fold{
    background-position: -48em 0px;
}
}
@media screen and (min-width:768px){

  #above-title{
    background-position: -48em 0px;
      font-size: 2.5em;
  }
  .ourWork-div{
    height:141px;
  }
  .ourWork-statement{
    font-size: 1.9em;
  }
  #ourWork-view{

  }
  .ourWork-icon {
    left: 41px;
    position: relative;
}
#projects-div {
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: wrap;
}
.project-image {

    width: 50%;

}
}

@media screen and (min-width: 1024px){
  #above-fold{
    background-position: -187px 0;
  }
  #above-title{
      padding: 0;
      font-size: 2.8em;
  }
  .ourWork-div {
    padding:0px;
    align-items: center;
    width:32%;
    flex-direction:column;
    justify-content: flex-start;
    border-bottom:0px;
    height: auto;
}
#ourWork-content{
    display:flex;
    justify-content: space-between;
}
#ourWork-view{

  padding-top:106vh;

}
.ourWork-service-div {
    text-align:center;
    width:100%;
    margin-bottom:30px;
}
.ourWork-service{
  font-size:24px;
}
.ourWork-icon{
  width:155px;
  margin-bottom:30px;
  align-self: center;
}
.ourWork-description-div{
  width: auto;
  flex-direction:column;
}
.ourWork-description-text{
  width:auto
}
#learn-div{
  padding: 0px;
  padding-top:5%;
}

#projects-div{
  flex-direction:row;
  justify-content: space-between;
}
.project-image{
  width:31.3%;
}

.page-title-box{
  text-align:left;
}
.page-title-text{
float: left;
position: relative;
  left: 14px;
  font-size:1.5em;
  color:white;
  background:black;
  padding: 7px;

}

}

@media screen and (min-width: 1280px){
  #above-fold{
    background-position: -109px 0;
  }
}
@media screen and (min-width: 1366px){
  #above-fold{
    background-position: 0 0;
  }
}

@media screen and (min-width:1920px){
  #above-title{
    top: 273px;
  }
}
@media screen and (min-width:2460px){
  #above-title{
    top: 333px;
  }
  .view{
    /* width: 73%; */
    /* margin: 0 auto; */

  }
}
