
#matters-view{
  width: 96%;
  margin: 3% auto;
}

#matters-content{
  display: flex;
  flex-direction: column;
  margin-top: 101px;
}

.matters-content-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 78px;
}

.matters-text-div{
  display:flex;
  flex-direction:column;
}

#matters-content-engagement{
    margin-top: 75px;
}

#matters-content-identity, #matters-content-expectation, #matters-content-information{
  /* border-top: 5px solid rgb(180, 124, 9); */
  /* padding-bottom: 79px; */
}

.matters-content-title{
  font-family: Raleway;
  font-weight: normal;
  font-size: 2.25em;
  position: relative;
  margin:0;
}

.matters-content-text{
    font-family: Muli;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 200;
    margin:38px 0;
}

#engagement-images{
  width: 100%;
  height: auto;
  position: relative;
}

#expectation-quote-text-div{
  width: 100%;
  background-color: rgba(31, 46, 0, .03);
}

#expectation-quote-text{
  font-family: raleway;
    font-weight: 100;
    font-size: 1.75em;
    width: 260px;
    margin: 0 auto;
    width:86%;
    text-align:center;
    line-height:1.2;
}

#matters-content-identity{
  margin: 100px 0 0 0;
}

#matters-content-information{
  margin: 100px 0 0 0;
}

#information-title{
  margin: 46px 0 0 0;
}

.matters-content-information{
  margin: 38px 0 0 0
}









@media screen and (min-width:375px){
  .matters-content{

  }

  #matters-nav-div{
    top:57px;
    width:inherit;
  }
  #matters-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: raleway;
    top: 48%;
    position: relative;
    padding: 0px 0px;
  }

  #matters-view-title {
      font-family: raleway;
      color: rgba(109, 109, 109, 1);
      position: relative;
      right: 12px;
      font-size: 20px;
      font-weight: 500;
      text-align: right;
      margin: 0;
      top: 26px;
  }

}
@media screen and (min-width:1024px){

  #matters-view{
    height:auto;
  }
  #matters-nav-div {
    top: 83px;

  }
  #matters-nav {
    width: 452px;
    margin: 0 auto;
  }
  #fixed-matters-header{
      height: 190px;
  }
  .matters-content-container{
    flex-direction: row;
    padding-bottom: 143px;
    justify-content: space-between;
    padding: 0px 0px;
  }

  #engagement-line{
    width: 27em;
    border-top: 2px solid red;
    margin: 29px 0 29px 0;
  }

  #identity-line{
        border-left: 2px solid #b47c09;
  }

  #matters-content-engagement{
    margin-top: 50px;
  }

  #matters-content-identity{
    flex-direction: column-reverse;
  }

  #matters-content-information{
    flex-direction: row-reverse;
  }

  #matters-content-expectation{
    margin-top:78px;
  }


  #why-digital-matters{
    font-size: 34px;
  }
  .matters-image-div{
    width:100%
  }
  .identity-image-div{
    padding-right:12px;
    height:531px;
    overflow:hidden;
  }
  #identity-image{
    width:100%;
    height:auto;
    top:-233px;
  }

  /* #engagement-title{
    text-align: left;
      font-size:44px;
      width:503px;
  } */
  .matters-text-div{
    width:50%;
    padding-right:12px;
    position:relative;
    top:96px;
  }

  .matters-identity-text-div, .matters-information-text-div {
    padding-left:12px;
    padding-right:0px
  }

  .matters-identity-text-div{
    flex-direction:row;
    width:100%;
  }

  #identity-title-div{
    width:50%;
    padding: 0 30px;
    display:flex;
    justify-content:center;
  }

  #expectation-text-div{
    width:100%;
  }

  #identity-paragraph-div{
    width:50%;
    padding: 0 30px;
    display:flex;
    justify-content:center;
  }

  #expectation-content-div{
    display:flex;
    flex-direction:row-reverse;
  }
  #expectation-paragraph-div{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
  }

  #expectation-quote-text {
      font-family: raleway;
      font-weight: 100;
      font-size: 48px;
      width: 626px;
      margin: 0 auto;
      background-color: rgba(31, 46, 0, .03);
  }

  .matters-content-title{
    margin: 0;
    text-align: left;
    /* align-self:flex-start; */
    font-size:38px;
    width:68%;
  }

  #engagement-title{
    align-self:flex-start;
  }

  #identity-title{
    width:auto;
  }

  #expectation-title {
      text-align: left;

      margin-left:0px;
  }
  #information-title {
      text-align: left;
      border-bottom: 4px solid rgba(7, 87, 3, 0.45);
      width: 430px;
      margin-left:0px;
  }
  .matters-content-text{
    font-size:1.2em;
    padding:0;
    font-size: 1.2em;
    padding: 0;
    margin: 0 0 29px 0;
    width: 88.8%;
  }

  #engagement-text-div{

  }

  .engagement-image-div{
    display: flex;
    padding-left:12px;
    overflow:hidden;
    width: 47.2%;

  }
}
@media screen and (min-width: 1366px){
  #matters-view{
    width:96%;
    margin:50px auto;
  }
  #fixed-matters-header{
    width: inherit;
  }
}
@media screen and (min-width: 1920px){
  #matters-view{
    width:91%;
    margin:65px auto;
  }
  #fixed-matters-header{
    width: inherit;
  }
}
@media screen and (min-width: 2460px){
  #matters-view{
    width:76%;
    margin:88px auto;
  }
  #fixed-matters-header{
    width: inherit;
  }
}
