@media screen and (min-width:0px){
  #matters-view{
    margin: 0 auto;
    width:88%;
    max-width:1280px;
  }

  #matters-content{
    display: flex;
    flex-direction: column;
    margin-top: 101px;
  }

  .matters-content-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
  }

  .matters-text-div{
    display:flex;
    flex-direction:column;
  }

  #matters-content-engagement{
      margin-top: 69px;
      flex-direction:column-reverse;
  }

  #matters-content-identity, #matters-content-expectation, #matters-content-information{
    /* border-top: 5px solid rgb(180, 124, 9); */
    /* padding-bottom: 79px; */
  }

  .matters-content-title{
    font-family: Raleway;
    font-weight: 500;
    font-size: 2em;
    position: relative;
    margin:0;
    margin-bottom:6vh;

  }

  .matters-content-text{
    width:100%;
    font-family: Lato;
    font-size:18px;
    line-height: 1.5;
    font-weight:200;
    margin: 0;
  }

  #engagement-images{
    width: 100%;
    height: auto;
    position: relative;
  }

  #engagement-title{

  }

  #identity-title{
    /* margin-bottom:81px; */
  }

  #information-title{
    margin-bottom:28px;
  }

  #identity-paragraph-div{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height:361px;
  }

  #expectation-quote-text-div{
    width: 100%;
    background-color: rgba(31, 46, 0, .03);
  }

  #expectation-quote-text{
    font-family: raleway;
      font-weight: 100;
      font-size: 1.75em;
      width: 260px;
      margin: 0 auto;
      width:86%;
      text-align:center;
      line-height:1.2;
      margin-top:20vh;
  }

  #matters-content-identity{
    margin: 100px 0 0 0;
  }

  #matters-content-information{
    margin: 20vh 0 0 0;
    flex-direction: column-reverse;
  }

  .matters-information-text-div{
    margin-bottom:35vh;
  }





  .engagement-image-div{
    width: 100vw;
    height: 24vh;
    overflow:hidden;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 80px;
  }

  #engagement-text-div{
    margin-top:34.5vh;
  }

  #identity-image{
    left: 0;
    position: absolute;
    width: 100vw;
    margin-top:54vh;
  }

  #matters-identity-image{
    display:none;
  }
}

@media screen and (min-width:375px){
  .matters-content{

  }

  #matters-nav-div{
    top:57px;
    width:inherit;
  }
  #matters-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: raleway;
    top: 48%;
    position: relative;
    padding: 0px 0px;
  }

  #matters-view-title {
      font-family: raleway;
      color: rgba(109, 109, 109, 1);
      position: relative;
      right: 12px;
      font-size: 20px;
      font-weight: 500;
      text-align: right;
      margin: 0;
      top: 26px;
  }

}
@media screen and (min-width: 411px){
  #identity-paragraph-div{
    height:321px;
  }
  #engagement-title{
    margin-bottom:6vh;
  }
  #information-title{
    margin-bottom:6vh;
  }
  #identity-image{

    margin-top:60vh;
  }
}
@media screen and (min-width:1024px){

  #matters-view{
    height:auto;
    width:90%;
  }
  #matters-nav-div {
    top: 83px;

  }
  #matters-nav {
    width: 452px;
    margin: 0 auto;
  }
  #fixed-matters-header{
      height: 190px;
  }
  .matters-content-container{
    flex-direction: row;
    padding-bottom: 143px;
    justify-content: space-between;
    padding: 0px 0px;
  }

  #engagement-line{
    width: 27em;
    border-top: 2px solid red;
    margin: 29px 0 29px 0;
  }

  #identity-line{
        border-left: 2px solid #b47c09;
  }

  #matters-content-engagement{
    margin-top: 50px;
  }

  #matters-content-identity{
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin-top: 117px;
  }

  #matters-content-information{
    flex-direction: column;
  }

  #matters-content-expectation{
    margin-top:78px;
  }


  #why-digital-matters{
    font-size: 34px;
  }
  .matters-image-div{
    width:100%
  }
  .identity-image-div{
    padding-right:12px;
    height:43vh;
    overflow:hidden;
  }
  #identity-image{
    left: 0;
    position: absolute;
    width: 99vw;
    height:300px;
    margin-top:0vh;
  }

  /* #engagement-title{
    text-align: left;
      font-size:44px;
      width:503px;
  } */
  .matters-text-div{
    width:50%;
    padding-right:12px;
    position:relative;
    top:0px;
  }

  .matters-identity-text-div{
    /* padding-left:12px; */
    padding-right:0px
  }
  .matters-information-text-div{
    padding-left:12px;
    padding-right:0px;
    flex-direction:row;
    width:100%;
    justify-content: space-between;
  }

  .matters-identity-text-div{
    flex-direction:column;
    width:50%;
    align-self:flex-end;
  }

  #identity-title-div{
    width:100%;

    display:flex;
    justify-content:center;
  }

  #expectation-text-div{
    width:100%;
  }

  #identity-paragraph-div{
    width:100%;
    flex-direction: column;
    display:flex;
    justify-content:center;
  }

  #expectation-content-div{
    display:flex;
    flex-direction:row-reverse;
  }
  #expectation-paragraph-div{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
  }

  #expectation-quote-text {
    font-family: raleway;
    font-weight: 100;
    font-size: 48px;
    width: 100%;
    margin: 0 auto;
    top: 97px;
    position: relative;

  }

  #expectation-quote-source{
    font-family:lato;
    top: 122px;
    position:relative;
    text-align:right;
  }

  .matters-content-title{
    margin: 0;
    text-align: left;
    /* align-self:flex-start; */
    font-size:34px;
    width:68%;
  }

  #engagement-title{
    align-self:flex-start;
    width:48%;
  }

  #identity-title{
    width:auto;
    margin-bottom:16px;
  }

  #matters-identity-image{
    top:40px;
    position:relative;
    display:flex;
  }

  #expectation-title {
      text-align: left;

      margin-left:0px;
  }
  #information-title {
      text-align: left;

      width: 47%;
      margin-left:0px;
  }
  #information-text-div{
    display:flex;
    flex-direction:column;
    width: 47%;
  }
  .matters-content-text{
    font-size:1.2em;
    padding:0;
    font-size: 1.2em;
    padding: 0;
    margin: 0 0 29px 0;

  }

  #engagement-text-div{
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    margin-top: 55.5vh;
  }

  .engagement-image-div{
   height:43vh;
  }
  #engagement-images{
    top:-38px;
  }
  #engagement-text{
    width:48%;
  }

  .matters-information-text-div{
    margin-bottom:5vh;
  }
}
@media screen and (min-width: 1366px){
  #matters-view{
    width:88%;
    margin:50px auto;
  }
  #fixed-matters-header{
    width: inherit;
  }
  #engagement-images{
    top:-100px;
  }
  #engagement-text{
    width:46%;
  }
  .matters-content{
    width:100%;
  }
  #matters-content-identity{
    flex-direction:row;
    height:auto;
    margin-top:0px;
  }

  #matters-content-engagement{
    margin-top:13vh;
    margin-bottom:157px;
  }
  #engagement-title{
    align-self:flex-start;
    width:46%;
  }
  #identity-title{
    margin-bottom:16px;
  }
  .matters-text-div{
    top:0px;
  }

  .matters-identity-text-div{
    width:46%;
  }
  #expectation-quote-source{
    font-family:lato;
    top: 97px;
    position:relative;
    text-align:right;
  }

  #identity-image{
    margin-top:1vh;
  }

  #matters-identity-image{
    top:0px;
    position:relative;
  }

  .identity-image-div{
    height:330px;
  }
}
@media screen and (min-width: 1920px){
  #matters-view{
    width:91%;
    margin:65px auto;
  }
  #fixed-matters-header{
    width: inherit;
  }
  #matters-content-identity{
      height: 73vh;
  }
}
@media screen and (min-width: 2460px){
  #matters-view{
    width:76%;
    margin:88px auto;
  }
  #fixed-matters-header{
    width: inherit;
  }
}
