#over-lay{
    position: fixed;
    align-items: center;

    height: 100vh;
    background: rgb(51, 48, 48);

    width: 100vw;
    z-index:3;
    flex-direction:column;
    transition: opacity .5s ease-out;
    top: 0;
     left: 0;
}

#over-lay-options{
  top: 27%;
  position: relative;
  text-align:center;
  display:flex;
  flex-direction: column;
  height:10em;
  justify-content: space-between;
}

.over-lay-link{
  text-decoration: none;
    font-family: raleway;
    color: white;
    font-size:2em;
    margin: 10px 0px
}
.over-lay-line{
  width: 100%;
}


/* .over-lay{
  color: white;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display:none;
  flex-direction:column;
  align-items: center;
  justify-content: center;

  background: rgba(48, 48, 48, 1);
}

#over-lay-options{

  width: 403px;
  position:relative;
  text-align:center;
}

.over-lay-link{
    font-family: raleway;
    font-weight: normal;
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.over-lay-line{
      margin: 20px 0px;
}

#values{
  display: flex;
  color: white;
  height: 100vh;
  align-items: center;
  background: rgba(48, 48, 48, 1);
  justify-content: center;
}

.values-value{
  width: 575px;
  font-family: raleway;
  position: relative;
  text-align: center;
}

#values-arrow-div{
  display: flex;
  justify-content: space-evenly;
}

#value-title{

}

#value-text{

} */
