body{
  margin: 0;
}

#routes{
width:100%;
margin: 0 auto;
}

#main{
width:100%;
}

img{
  max-width:100%;
}


@media screen and (min-width:768px){
  #routes{

  }
}

@media screen and (min-width:1366px){
  #main{
    width: 96%;
    margin: 50px auto;
  }
}

@media screen and (min-width:1920px){
  #main{
    width: 91%;
    margin: 65px auto;
  }
}


@media screen and (min-width:2560px){
  #main{
    width: 76%;
    margin: 88px auto;
  }
}
