@media screen and (min-width: 0px) {
  #lyn-image-div {
    width: 100vw;
    height: 276px;
    width: 100vw;
    margin-top: 86px;
    left: 0;
    overflow: hidden;
  }
  #lyn-image-div img {
    width: 100%;
    position: relative;
    bottom: 4em;
  }

  #lyn-text-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 26px;
  }
  #lyn-text-div h1 {
    font-family: raleway;
    font-size: 53px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: -1.7px;
    margin: 0;
  }
  #lyn-text-div h2 {
    font-family: raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: -1.7px;
    color: rgba(0, 0, 0, 0.55);
    margin: 0;
  }
  #lyn-text-div h3 {
    font-family: nunito sans;
    font-size: 21px;
    font-weight: 200;
    line-height: auto;
    letter-spacing: -1.7px;
    margin: 4px 0 0 0;
  }

  #stack_lyn {
    width: 259px;
    margin: 27.2px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
  }
  #stack_lyn .stack-column_lyn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
  }

  .section-lyn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
  .section-lyn .section-title_lyn {
    font-family: raleway;
    font-size: 48px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: auto;
    color: rgba(0, 0, 0, 0.55);
    margin: 52px auto 0 auto;
  }

  #portfolio_lyn {
    height: 800px;
    width: 90%;
  }
  #portfolio_lyn .portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
  }
  #portfolio_lyn .portfolio-item div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #portfolio_lyn .portfolio-item img {
    width: 167px;
  }
  #portfolio_lyn .portfolio-item h1 {
    margin: 0;
    font-family: open sans;
    font-size: 22px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: -1px;
  }
  #portfolio_lyn .portfolio-item h2 {
    margin: 0;
    font-family: open sans;
    font-size: 18px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: -1px;
  }
  #portfolio_lyn .portfolio-item a {
    margin: 0;
    font-family: raleway;
    font-size: 13px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: auto;
  }

  #experience-lyn .experience-item .item-stats {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
  }
  #experience-lyn .experience-item h1 {
    font-family: open sans;
    font-size: 22px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: -1px;
    margin: 0;
  }
  #experience-lyn .experience-item h2 {
    font-family: open sans;
    font-size: 22px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: -1px;
    margin: 0;
  }
  #experience-lyn .experience-item h3 {
    font-family: open sans;
    font-size: 17px;
    font-weight: 300;
    line-height: auto;
    letter-spacing: -1px;
    margin: 0;
  }
  #experience-lyn .experience-item .item-description {
    font-family: open sans;
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0.3px;
  }

  #education-lyn .education-item {
    margin: 25px 0 0 0;
  }
  #education-lyn .education-item h1 {
    font-family: open sans;
    font-size: 19px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0.3px;
    margin: 0;
  }
  #education-lyn .education-item h2 {
    font-family: raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: auto;
    margin: 0;
  }

  #more-lyn {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: auto;
  }
  #more-lyn p {
    font-family: open sans;
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 1px;
  }
}

/*# sourceMappingURL=lyn%202.css.map */
